$line-height: 40px;
$font-style: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;

$navigation-background-color: #c4c5c2;
$navigation-box-shadow-color: #9e9d9b;
$navigation-button-background-color: #a8a6aa;
$navigation-button-color: #fff;

$admin-background-color: #2ac56c;
$admin-box-shadow-color: #119e4d;
$admin-button-background-color: #17aa56;
$admin-button-color: #fff;

$footer-background-color: #9e54bd;
$footer-box-shadow-color: #773793;
$footer-button-background-color: #823aa0;
$footer-button-color: #fff;

/* Mobile first queries */
* {
    box-sizing: border-box;
}

body {
    font-family: $font-style;
    margin: 0;

}

input,
button {
    margin: 0;
    border: 0;
    overflow: auto;
    outline: none;
    font: inherit;
}

h1, h2 {
    margin: 0;
    > span {
        font-size: 60%;
    }
}

h1 {
    font-size: 42px;
    line-height: 52px;
}
h2 {
    font-size: 32px;
    line-height: 42px;
}

.component {
    position: relative;
    padding: 2em;
    color: #fff;

    > h1,
    > h2 {
        color: rgb(137, 134, 126);
        text-align: center;
        font-weight: 300;
        > span {
            display: block;
            opacity: 0.5;
            padding: 0 0 0.6em 0.1em;
        }
    }
}


.btn,
.text {
    position: relative;
    border-radius: 7px;
    height: 30px;
    box-shadow: 0 5px $admin-box-shadow-color;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 14px;
}

.btn {
    background: $admin-button-background-color;
    color: $admin-button-color;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;

    &:hover {
        box-shadow: 0 3px $admin-box-shadow-color;
        top: 2px;
    }
    &:active {
        box-shadow: none;
        top: 5px;
    }
}

a.btn {
    text-decoration: none;
}

.component {
    &.admin {
        background-color: $admin-background-color;
        .btn,
        .text {
            box-shadow: 0 5px $admin-box-shadow-color;
        }

        .btn {
            background: $admin-button-background-color;
            &:hover {
                box-shadow: 0 3px $admin-box-shadow-color;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    &.navigation {
        background-color: $navigation-background-color;
        .btn,
        .text {
            box-shadow: 0 5px $navigation-box-shadow-color;
        }

        .btn {
            background: $navigation-button-background-color;
            &:hover {
                box-shadow: 0 3px $navigation-box-shadow-color;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    &.footer {
        background-color: $footer-background-color;
        .btn,
        .text {
            box-shadow: 0 5px $footer-box-shadow-color;
        }

        .btn {
            background: $footer-button-background-color;
            &:hover {
                box-shadow: 0 3px $footer-box-shadow-color;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
}

.component {
    &.game {
        padding: 0;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
