$line-height: 24px;
$font-size: 16px;
$font-style: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;

$action-delete-background-color: rgba(255, 0, 0, 0.3);

$border-radius: 7px;

$thumb-width: 70px;
$thumb-height: 70px;
$thumb-border-size: 3px;

$board-background-color: #c4c5c2;
$board-box-shadow-color: #9e9d9b;
$board-button-background-color: #a8a6aa;
$board-button-color: #fff;

$admin-background-color: #2ac56c;
$admin-box-shadow-color: #119e4d;
$admin-button-background-color: #17aa56;
$admin-button-color: #fff;

$game-background-color: #fcd04b;
$game-box-shadow-color: #a38730;
$game-button-background-color: #b99937;
$game-button-color: #fff;

$footer-background-color: #9e54bd;
$footer-box-shadow-color: #773793;
$footer-button-background-color: #823aa0;
$footer-button-color: #fff;

$difference-background-color: #4593e3;
$difference-box-shadow-color: #326aa3;
$difference-button-background-color: #3a7bbe;
$difference-button-color: #fff;

@mixin thumbFont() {
    line-height: $thumb-height;
    font-size: $thumb-height/2;
}

@mixin overlay() {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin hideText() {
    overflow: hidden;
    text-indent: -999em;
}

@mixin showText() {
    text-indent: 0;
}

/* Mobile first queries */
* {
    box-sizing: border-box;
}

body {
    font-family: $font-style;
    font-size: $font-size;
    line-height: $line-height;
    margin: 0;
}

input,
button {
    margin: 0;
    border: 0;
    overflow: auto;
    outline: none;
    font: inherit;
}

h1, h2 {
    margin: 0;
    > span {
        font-size: 60%;
    }
}

h1 {
    font-size: 42px;
    line-height: 52px;
}

h2 {
    font-size: 32px;
    line-height: 42px;
}

h1, h2, p, span, div {
    line-height: 120%;
}

.component {
    position: relative;
    padding: 2em;
    color: #fff;

    > h1,
    > h2 {
        color: rgb(137, 134, 126);
        text-align: center;
        font-weight: 300;
        > span {
            display: block;
            opacity: 0.5;
            padding: 0 0 0.6em 0.1em;
        }
    }
}

.btn,
.text {
    position: relative;
    border-radius: $border-radius;
    height: 30px;
    box-shadow: 0 5px $admin-box-shadow-color;
    padding: 5px 20px;
    font-size: 14px;
    line-height: 14px;
}

.btn {
    background: $admin-button-background-color;
    color: $admin-button-color;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    white-space: nowrap;

    &:hover {
        box-shadow: 0 3px $admin-box-shadow-color;
        top: 2px;
    }
    &:active {
        box-shadow: none;
        top: 5px;
    }
}

a.btn {
    text-decoration: none;
}

.drop-box {
    width: 90%;
    min-height: 200px;
    border: 7px dashed #c2c1c1;
    border-radius: $border-radius;
    margin: 50px auto;
    color: #c1c1c1;
    font-size: 40px;
    text-align: center;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.draggable {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.component {
    &.admin {
        background-color: $admin-background-color;
        .btn,
        .text {
            box-shadow: 0 5px $admin-box-shadow-color;
        }

        .btn {
            background: $admin-button-background-color;
            &:hover {
                box-shadow: 0 3px $admin-box-shadow-color;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    &.board {
        background-color: $board-background-color;
        .btn,
        .text {
            box-shadow: 0 5px $board-box-shadow-color;
        }

        .btn {
            background: $board-button-background-color;
            &:hover {
                box-shadow: 0 3px $board-box-shadow-color;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    &.game {
        background-color: $game-background-color;
        .btn,
        .text {
            box-shadow: 0 5px $game-box-shadow-color;
        }

        .btn {
            background: $game-button-background-color;
            &:hover {
                box-shadow: 0 3px $game-box-shadow-color;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    &.footer {
        background-color: $footer-background-color;
        .btn,
        .text {
            box-shadow: 0 5px $footer-box-shadow-color;
        }

        .btn {
            background: $footer-button-background-color;
            &:hover {
                box-shadow: 0 3px $footer-box-shadow-color;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
    &.differences {
        background-color: $difference-background-color;
        .btn,
        .text {
            box-shadow: 0 5px $difference-box-shadow-color;
        }

        .btn {
            background: $difference-button-background-color;
            &:hover {
                box-shadow: 0 3px $difference-box-shadow-color;
            }
            &:active {
                box-shadow: none;
            }
        }
    }
}

.component {
    &.game {
        padding: 0;
        .difference {
            position: absolute;
            width: 9%;
            height: 9%;
            border: $thumb-border-size solid #fff;
            cursor: move;
            box-shadow: 0 2px rgba(0, 0, 0, 0.3);
            transform: rotateX(0);
            &.phantom {
                cursor: default;
                border-color: #bababa;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    .half {
        position: relative;
        float: left;
        width: 50vw;
        height: 50vw;
    }
}

.tile {
    position: relative;
    width: $thumb-width;
    height: $thumb-height;

    &.btn {
        @include thumbFont();
        padding: 0;
    }
}

.action {
    cursor: pointer;
    &.overlay {
        @include overlay();
        @include thumbFont();
        @include hideText();

        &:hover {
            @include showText();
            background-color: $action-delete-background-color;
            text-align: center;
        }
    }
}

.fit {
    width: 100%;
}

.component {
    &.board {
        overflow: hidden;

        .btn,
        .board {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .board {
            border: 3px solid #fff;
            border-radius: $border-radius;
            box-shadow: 0 5px $board-box-shadow-color;
        }

        .tile {
            width: 150px;
            height: 150px;
        }
    }
}

.component {
    &.differences {
        overflow: hidden;

        .btn,
        .difference {
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .difference {
            border: 3px solid #fff;
            border-radius: $border-radius;
            box-shadow: 0 5px $difference-box-shadow-color;
            //            .thumb {
            //                &.empty {
            //                    font-size: 40px;
            //                    line-height: 70px;
            //                    text-align: center;
            //                    font-weight: bold;
            //                }
            //            }
        }
    }
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}
